<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Us</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div id="container"> 
  
  <!--Header Start-->
  <div id="header">
    <div id="logo"><a href="/"><img src="/static/images/slogo.png" alt="" /></a></div>
  </div>
  <!--Header End-->
  <div id="content">
    <div class="about_left">
     <h1>About Us</h1>
      <p>Playdation, Inc. is a digital media company based in New York City.  The Company, founded in 2011, is committed to making parents' lives more productive through its revolutionary social calendar and playdate scheduling system.</p>
      <h1>Management Team</h1>
      <ul class="team_lists">
        <li>
          <div class="title-andy toggle_text"><a href="splash_about_on.html">Andrew Merkatz</a> Founder</div>
          <div class="hide_text" style="display:none"> Andrew is currently the director of technology investments at Vision Capital,
            a NYC based hedge fund with over $500 Million of assets under management. Andrew is also
            currently the Chairman of Familybuilder,the #1 family application developer on Facebook, a
            company he co-founded in 2007. Andrew was a digital media pioneer as a co-founder of SiteSpecitic
            in 1995. SiteSpecific was one of the first internet advertising agencies and served as the subject of
            the first Harvard Business School case study on internet marketing, Andrew led the sale of SiteSpecific
            to Silicon Valley-based CKS Group. Andrew began his career at Interlaken Capital, a middle market
            private equity firm. Andrew received his B.A.in Economics with Distinction from the University of Pennsylvania
            and his M.B.A. from Harvard Business School. Andrew's vision for Playdation arose based upon his eight
            years of experience in sheduling playdates for his two children on Manhattan's Upper West Side.          </div>
        </li>
        <li>
          <div class="title-boris toggle_text"><a href="splash_about_on.html">Boris Raskin</a> Founder</div>
          <div class="hide_text" style="display:none"> 
      Prior to joining Playdation as the Company's CTO, Boris led the Systems Engineering team at Experian Cheetahmail, where he spent seven years after joining as one of their first engineers. In his most recent role, he was responsible for scaling an email marketing platform deploying 6 billion emails a month with an annual growth rate of 30-50%. His previous roles included leading onshore and offshore development efforts, new client integration and custom client projects. In his spare time, Boris has developed 1400chars.com and inkblotr.com, unique social media applications leveraging the Twitter and Facebook platforms.  Boris graduated with a B.S. in Computer Science and a B.A. in Economics from Rutgers University. He also received an M.A. in Islamic and Middle Eastern Studies from the Hebrew University of Jerusalem.          </div>
        </li>
        <li>
          <div class="title-ilya toggle_text"><a href="splash_about_on.html">Ilya Nikolayev</a> Founder</div>
          <div class="hide_text" style="display:none"> 
Ilya is currently the CEO and co-founder of Familybuilder, the #1 family application developer on Facebook.  Ilya launched Familybuilder in June 2007 with the goal of allowing families to interact and communicate within their existing online social networks, primarily Facebook.  Under Ilya's leadership as CEO, the company has grown to over 34 million users who, in turn, have added over 200 million family members.  Familybuilder is profitable as a company and continues to launch new family-oriented properties on Facebook.  Prior to Familybuilder, Ilya worked at JP Morgan Chase in their finance group. Ilya graduated cum laude with his B.A. in Economics and Politics from New York University. He also received a certificate in Intellectual Property Law from NYU          </div>
        </li> 
        <li>
          <div class="title-rebecca toggle_text"><a href="splash_about_on.html">Rebecca Levey</a> Social Media Director</div>
          <div class="hide_text" style="display:none"> 
Rebecca is a freelance writer and mom to identical twin girls. She is the founder and
Queen Bee of KidzVuz.com - the only online destination for tweens to have their
say. Her personal blog, Beccarama, is where she writes about parenting, travel,
technology, education, the arts, and NYC. She can be heard every week with her 3
co-hosts on The Blogging Angels podcast where she dishes and dispenses advice
on social media and the blogosphere with humor and candor. Rebecca is the Social
Media Editor for Mom Blog Magazine and a contributing writer for CBS Local NY
and the Yahoo! Mother Board on Yahoo! Shine. Her blog posts have been nationally
syndicated, appearing in the online versions of The Chicago Sun Times, The Miami
Herald, and The Washington Post. You can follow her on Twitter all day long (and
usually into the night) at <a class="link_yellow" href="http://twitter.com/#!/beccasara">@beccasara</a>.          </div>
        </li>
        <li>
          <div class="title-julie toggle_text"><a href="splash_about_on.html">Julie Nielsen</a> Advisory Board Member</div>
          <div class="hide_text" style="display:none"> 
Julie Nielsen is Sr. Director of product marketing at appssavvy, a company that connects brands to people through social activities performed across apps, web and mobile. She drives product strategies and integrated sponsorship programs between social media application developer and publisher partners, and the rapidly growing number of brands and agencies engaged in tackling the emerging opportunities involving social activity.
 
Julie was the first employee outside of appssavvy's two founders. Since joining the company, she has been instrumental in hundreds of socially-based campaigns appssavvy has delivered for brands, including Kimberly-Clark, Sony Pictures, Wrigley, Coca-Cola, Target and Microsoft, among others.
        </div>
        </li>
      </ul>
    </div>
    
    
     <div style="width:305px; font-family:georgia; font-size:20px; color:#996600; padding:30px 30px 0 15px; float:right; margin:0;"></div>
    <div class="about_right" style="margin-top:13px;">
    
      
  <div class="grey_box">
        <p>Contact us: info @ playdation.com</p>
        <!--<p>Do you like Playdation?<span><img src="/static/images/img_link.png" alt="" width="77" height="20" /></span></p>-->
        <p>Follow us on Twitter:<a href="http://twitter.com/#!/playdation" class="link_yellow">@playdation</a></p>
<p>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fplaydation&amp;layout=button_count&amp;show_faces=false&amp;width=300&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:21px;" allowTransparency="true"></iframe>
</p>

        <p><!--Download some Playdation Logos<a href="#" class="link_click">click here</a>-->&nbsp;<br />&nbsp;</p>
      </div>
    </div>
  
  
   
  
  
</div>
  
  
  
  <div class="push"></div><!--sticky footer-->
  </div><!--end site container-->
  
  




<!--Footer Start-->
<div id="footer">
  <div class="footer">
    <ul>
    </ul>
    <div class="copy">
      <p>We don't play around when it comes to screening and privacy.</p>
      <p>Trademarks belong to their respective owners. ©2011 Playdation, Inc.</p>
    </div>
  </div>
</div>
<!--Footer End-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script>

$(document).ready(function () {

  $(".toggle_text").click(function(event) {
      event.preventDefault();
      var target = $(event.target);
      target.parent().siblings(".hide_text").toggle();
  });
});

</script>



</body>
</html>
