{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify your e-mail address" %}{% endblock %}

{% block body %}
    <h1>Welcome to Playdation!</h1>
    
    <p>To get you started, lets first connect your Facebook account to the service (hint: this will make it much easier to find connections, setup your profile and find more playdates!).</p>

    
    <form class="connect-button" name="login" method="post" action="/account/acct_fb_login"><input type="hidden" name="next" value="" /><input type="image" src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_large_long.gif"  onclick="facebookConnect(this.form);return false;" /></form> 
    

    <p><a href="/account/signup_add_children">Skip</a> (Not recommended)</p>
    
    <p><a href="{{ success_url }}">Go back</a></p>
{%endblock %}
