{% extends "site_registration_base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Playdation Login{% endblock %}


{% block body %}

  <div id="content" class="common">
    <div class="two_col_block margin_top">
      <div class="main_text">
        <h1 class="star">Forget Password?</h1>
        <p class="heading_text">Please enter the email associated with your account and your password will be sent to 
          that email ASAP.</p>

        {% if reset_done %} <div class="signup-errors" style="background-color: #FFFFFF">A message with a reset link has been sent to your email address. </div><br><br><br><br>{%endif%}

        {% if password_reset_form.errors %}<div class="signup-errors">{% for key,value in password_reset_form.errors.items %}<p>{{ value.as_text }}</p>{% endfor %}</div> <br><br><br>{% endif %}

        <form action="" method="post">
        {% csrf_token %}
          <fieldset>
            <div class="wrap_grey margin_bottom">
              <input id="id_email" type="text" class="input_email" name="email" size="30" /> 
            </div>
            <input name="" type="submit" class="done"  value=""/>
          </fieldset>
        </form>
        <span class="check_email"><strong>Now</strong> ... check your email account for your password</span> </div>
      <img src="/static/images/img_hand.png" alt="" width="268" height="278" class="img_right" />
    </div>
  </div>
  <div class="mainbtm">
    <div class="mbright"> </div>
  </div>
</div>
{% endblock %}
