{% extends "site_registration_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block body %}
  <div id="content">
    <div class="one_col_block">
      <div class="heading narrow">
      <h1>{% if token_fail %}Bad Token{% else %}Reset Password{% endif %}</h1>
      </div>


    {% if token_fail %}
      <div class="signup-errors"><p>
        The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url acct_passwd_reset %}">new password reset</a>.</p> </p></div> <br>
    {% else %}
      {% if reset_done %}<div class="signup-errors">Reset done. Please login <a href="{% url acct_login %}">here</a>.</div> <br><br><br>{% endif %}
      {% if form.errors %}<div class="signup-errors">{% for key,value in form.errors.items %}<p>{{ value.as_text }}</p>{% endfor %}</div> <br><br><br>{% endif %}

      <div class="maincontent_wrap">
        <form action="#" method="post">
        {% csrf_token %}
          <fieldset>
            <ul class="change_pwd">
              <li>
                <label>Change Password:</label>
                <input id="id_password1" type="password" class="ipt_pwd passwordinput" name="password1" /> 
              </li>
              <li class="no_border">
                <label>Re-type Password:</label>
                <input id="id_password2" type="password" class="ipt_pwd passwordinput" name="password2" /> 
              </li>
              <li class="no_border">
                <input type="submit" name="" class="save_submit" value="" />
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    {% endif %}

    </div>
  </div>



{% endblock %}
