{% extends "new_site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
  <div id="content">
    <div class="one_col_block">
      <div class="heading narrow">
        <h1>Change Password</h1>
      </div>
      {% if form.errors %}<div class="signup-errors">{% for key,value in form.errors.items %}<p>{{ value.as_text }}</p>{% endfor %}</div> <br><br><br>{% endif %}
      {% if message %}<div class="signup-errors">{{ message }}</div> <br><br><br>{% endif %}

      <div class="maincontent_wrap">
        <form action="#" method="post">
        {% csrf_token %}

          <fieldset>
            <ul class="change_pwd">
              <li>
                <label class="current">Current Password:</label>
                <input id="id_oldpassword" type="password" class="ipt_pwd passwordinput" name="oldpassword" /> 

              </li>
              <li>
                <label>Change Password:</label>
                <input id="id_password1" type="ipt_pwd password" class="passwordinput" name="password1" /> 

              </li>
              <li class="no_border">
                <label>Re-type Password:</label>
                <input id="id_password2" type="password" class="ipt_pwd passwordinput" name="password2" /> 
              </li>
              <li class="no_border">
                <input type="submit" name="" class="save_submit" value="" />
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    </div>
  </div>



{% endblock %}