{% extends site_base %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}Error - Woopsie.{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_body %}
{% endblock %}


{% block extra_head %}
{% endblock %}

{% block body %}
 <div id="content">
 
        <div id="no_friends" class="yellow_wrap">
          <p class="title">Whoops-a-daisy!</p>
          <p>Sorry, something broke. This makes us very sad.<br><br> We are working on fixing it.</p>
        </div>
 </div>

{% endblock %}
