{% extends site_base %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}IP Policy{% endblock %}

{% block body %}


  <div id="content">
    <div class="one_col_block">
<h1>PLAYDATION, INC.<br>
INTELLECTUAL PROPERTY POLICY</h1>

<h3>I. PLAYDATION'S COPYRIGHT POLICY</h3>
<p style="margin:0 0 14px;">Playdation, Inc. ("Playdation") has adopted the following policy toward copyright infringement in accordance with the Digital Millennium Copyright Act (http://lcweb.loc.gov/copyright/legislation/dmca.pdf). Playdation's Designated Agent to Receive Notification of Claimed Infringement ("Designated Agent") address is listed at the end of this policy.</p> 
<p style="margin:0 0 14px;">It is Playdation's policy to (1) block access to or remove material that it believes in good faith to be copyrighted material that has been illegally copied and distributed by any of our advertisers, affiliates, content providers, members or users; and (2) discontinue service and remove to repeat offenders.</p> 

<h3>A. Procedure for Reporting Copyright Infringements:</h3>
<p style="margin:0 0 14px;">If you believe that material or content residing on or accessible through the Playdation Web site or service infringes a copyright, please send a notice of copyright infringement containing the following information to the Designated Agent listed below:</p> 
<ol style="list-style-type: decimal; list-style-position:inside;margin-bottom:10px;">
<li>A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed;</li>
<li>Identification of works or materials being infringed;</li>
<li>Identification of the material that is claimed to be infringing including information regarding the location of the infringing materials that the copyright owner seeks to have removed, with sufficient detail so that Playdation is capable of finding and verifying its existence;</li>
<li>Contact information about the notifier including address, telephone number and, if available, e-mail address. If you are not the owner of the copyright that has been allegedly infringed, please describe your relationship to the trademark owner;</li>
<li>A statement that the notifier has a good faith belief that the material is not authorized by the copyright owner, its agent, or the law; and</li>
<li>A statement made under penalty of perjury that the information provided is accurate and the notifying party is authorized to make the complaint on behalf of the copyright owner.</li>
</ol>
<br>
<h3>Once Proper Bona Fide Infringement Notification is Received by the Designated Agent:</h3>

<p style="margin:0 0 14px;">It is Playdation's policy:</p>
<ol style="list-style-type: decimal; list-style-position:inside;margin-bottom:10px;">
<li>to remove or disable access to the infringing material;</li>
<li>to notify the content provider, member or user that it has removed or disabled access to the material; and</li>
<li>repeat offenders will have the infringing material removed from the system and that Playdation will terminate such content provider's, member's or user's access to the service.</li>
</ol>
<h3>C. Procedure to Supply a Counter-Notice to the Designated Agent:</h3>
<p style="margin:0 0 14px;">If the content provider, member or user believes that the material that was removed or to which access was disabled is either not infringing, or the content provider, member or user believes that it has the right to post and use such material from the copyright owner, the copyright owner's agent, or pursuant to the law, the content provider, member or user must send a counter-notice containing the following information to the Designated Agent listed below:</p>
<ol style="list-style-type: decimal; list-style-position:inside;margin-bottom:10px;">
<li>A physical or electronic signature of the content provider, member or user;</li>
<li>Identification of the material that has been removed or to which access to has been disabled and the location at which the material appeared before it was removed or disabled;</li> 
<li>A statement that the content provider, member or user has a good faith belief that the material was removed or disabled as a result of mistake or a misidentification of the material; and</li>
<li>Content provider's, member's or user's name, address, telephone number, and, if available, e-mail address and a statement that such person or entity consents to the jurisdiction of the Federal Court for the judicial district in which the content provider's, member's or user's address is located, or if the content provider's, member's or user's address is located outside the United States, for any judicial district in which Playdation is located, and that such person or entity will accept service of process from the person who provided notification of the alleged infringement.</li>
</ol>
<p style="margin:0 0 14px;">If a counter-notice is received by the Designated Agent, Playdation may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed material or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed material may be replaced or access to it restored in 10 to 14 business days or more after receipt of the counter-notice, at Playdation's discretion.</p>
<p style="margin:0 0 14px;">Please contact Playdation's Designated Agent to Receive Notification of Claimed Infringement at the following address: Playdation, Inc., c/o Reitler Kailas & Rosenblatt LLC, 885 Third Avenue, 20th Floor, New York, NY 10022.</p> 
<h3>II. PLAYDATION's TRADEMARK POLICY</h3>
<p style="margin:0 0 14px;">As a courtesy to trademark owners, we are willing to perform a limited investigation of reasonable complaints of trademark infringement.</p>
<p style="margin:0 0 14px;">Procedure for Reporting Trademark Infringements:</p>
<p style="margin:0 0 14px;">To report a claim of trademark infringement, please provide a written communication (by regular mail - not by email) that sets forth the items specified below:</p>
<ol style="list-style-type: decimal; list-style-position:inside;margin-bottom:10px;">
<li>A physical or electronic signature of a person authorized to act on behalf of the owner of the registered trademark that has been allegedly infringed.</li>
<li>(a) List of the trademark(s) at issue; (b) the country/countries in which those trademarks are registered and (c) provide the registration number of the trademark at issue.</li>
<li>Identification of the material that is claimed to be infringing the registered trademark including information regarding the location of the allegedly infringing materials that the trademark owner seeks to have removed, with sufficient detail so that Playdation is capable of finding and verifying its existence.</li>
<li>Contact information about the notifier including address, telephone number and, if available, e-mail address. If you are not the owner of the trademark that has been allegedly infringed, please describe your relationship to the trademark owner.</li>
<li>A statement representing that the trademark(s) at issue was registered and in use prior to the alleged infringement.</li>
<li>A statement detailing why the use of the trademark(s) at issue in the allegedly infringing materials creates consumer confusion as to source, origin, affiliation or endorsement, as opposed to a simple identification of a legitimate locations, product or service or use in a manner that would not be likely to cause confusion.</li>
<li>A statement representing that (a) the trademark owner has done an investigation of the infringement, but has not been able to locate the alleged infringer or (b) the trademark owner has contacted the alleged infringer who has refused to comply with the trademark owner's requests.</li>
<li>The following statement: "I represent that the information in this notification is true and correct and that I am authorized to act on behalf of the trademark owner."</li>
<li>Send the written communication to the following address:</li>
</ol>
<p style="margin:0 0 14px;">
Playdation, Inc. 
c/o Reitler Kailas & Rosenblatt LLC
885 Third Avenue, 20th Floor
New York, NY 10022. 
</p>
<p style="margin:0 0 14px;">If Playdation receives all the requested information, it will consider (in its sole discretion) whether to remove the allegedly infringing material. Additionally, in appropriate circumstances (as determined by Playdation in its sole discretion), Playdation will terminate repeat trademark infringers. If you believe a user is a repeat infringer, please follow the instructions above to contact Playdation and provide sufficient information for Playdation to verify that the user is a repeat infringer.</p>

    </div>
  </div>

{% endblock %}

