<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>details-contactdetails</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="container">  
	<!--Header Start-->
	<div id="header">
		<div id="logo"><a href="#"><img src="/static/images/slogo.png" alt="" /></a></div>
		<div id="nav">
			<div class="navleft">
				<ul>
					<li class="current"><a href="#">Home</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Playlist</a></li>
					<li><a href="#">Calendar</a></li>
					<li><a href="#">Mailbox</a></li>
				</ul>
				<div class="info">Welcome<span><a href="#">Andrew Merkatz</a></span>,You have <a href="#">2 new</a> messages</div>
			</div>
			<div class="navright">
				<div class="navsearch">
					<div class="innerns">
						<select id="se" name="se" class="select">
							<option>People</option>
						</select>
						<input type="text" class="ipt" />
						<input type="submit" class="btn" value=" " />
					</div>
				</div>
				<div class="login"><a href="#">My settings</a> | <a href="#">Help</a> | <a href="#" class="logout">Logout</a></div>
			</div>
		</div>
	</div>
	<!--Header End-->
	<div id="content">
		<div class="two_col_block">
			<div class="leading">
				<h1>Playdate Details</h1>
				<div class="navbar">
					<ul>
						<li><a href="#">Map</a>|</li>
						<li><a href="#">Print</a>|</li>
						<li><a href="#">Export to Calendar</a></li>
					</ul>
				</div>
			</div>
			<!--leading end-->
			<div class="sidebar">
				<h3>Attending(3)</h3>
				<ul>
					<li><img src="/static/images/img_parents.jpg" alt="" width="50" height="50"  class="img_left" />
						<div class="name_box">Christina<br />
							Fernando<span>Mary's Daughter</span></div>
					</li>
					<li><img src="/static/images/img_parents.jpg" alt="" width="50" height="50"  class="img_left" />
						<div class="name_box"><a href="#">Andrew</a></div>
					</li>
					<li><img src="/static/images/img_parents.jpg" alt="" width="50" height="50"  class="img_left" />
						<div class="name_box"><a href="#">Andrew</a></div>
					</li>
				</ul>
				<h3>Unconfirmed(2)</h3>
				<ul>
					<li><img src="/static/images/img_parents.jpg" alt="" width="50" height="50"  class="img_left" />
						<div class="name_box"><a href="#">Andrew</a></div>
					</li>
					<li><img src="/static/images/img_parents.jpg" alt="" width="50" height="50"  class="img_left" />
						<div class="name_box"><a href="#">Andrew</a><span>Sharons son</span></div>
					</li>
				</ul>
				<h3>Not Attending(2)</h3>
				<ul>
					<li><img src="/static/images/img_parents.jpg" alt="" width="50" height="50"  class="img_left" />
						<div class="name_box"><a href="#">Andrew</a></div>
					</li>
					<li><img src="/static/images/img_parents.jpg" alt="" width="50" height="50"  class="img_left" />
						<div class="name_box"><a href="#">Andrew</a></div>
					</li>
				</ul>
			</div>
			<!--sidebar end-->
			<div class="maincontent">
				<ul class="lists">
					<li><strong>Date &amp; Time:</strong> January 9th from 3PM to 5PM ( <a href="#">Edit</a> )</li>
					<li><strong>Activity:</strong> Ice Skating, Free Skate, Pizza for Lunch, Casual ( <a href="#">Edit</a> ) </li>
					<li><strong>Location:</strong> Chelsea Piers, West Side Highway ( <a href="#">Edit</a> )</li>
					<li><strong>Dropoff Details:</strong> This playdate is a dropoff ( <a href="#">Edit</a> )</li>
					<li><strong>Organizer Phone Number:</strong> 917-744-0991( <a href="#">Edit</a> )</li>
					<li><strong>Attendee Phone Numbers:</strong> ( <a href="#">Click here to view</a> )</li>
					<li><strong>Comments: </strong> All of the kids are going to have a great time on this one!( <a href="#">Edit</a> )</li>
					<li><strong>Status: </strong> Status: <a href="#" class="red">Cancel this playdate</a></li>
				</ul>
				<div class="photo_wrap">
					<h1>Photos for this playdate</h1>
					<div class="pagenation"><a href="#" class="current">View All</a><span>Viewing 8 of 96 Photos</span></div>
					<ul class="img_lists">
						<li><img src="/static/images/img_big_pic.jpg" alt="" width="80" height="80" /></li>
						<li><img src="/static/images/img_big_pic.jpg" alt="" width="80" height="80" /></li>
						<li><img src="/static/images/img_big_pic.jpg" alt="" width="80" height="80" /></li>
						<li><img src="/static/images/img_big_pic.jpg" alt="" width="80" height="80" /></li>
						<li><img src="/static/images/img_big_pic.jpg" alt="" width="80" height="80" /></li>
						<li><img src="/static/images/img_big_pic.jpg" alt="" width="80" height="80" /></li>
						<li><img src="/static/images/img_big_pic.jpg" alt="" width="80" height="80" /></li>
						<li><img src="/static/images/img_big_pic.jpg" alt="" width="80" height="80" /></li>
					</ul>
					<p><a href="#"><img src="/static/images/bg_upload.png" alt="" width="111" height="23" /></a></p>
					<div style="position:absolute; left:730px; top:180px; z-index:9999;"> <span class="arrow"><img src="/static/images/bg_arrow_left.png" alt="" width="6" height="11" /></span> <a href="#" class="close_btn" style="right:10px;">X</a>
						<div class="blue_hover">
							<h3>Playdation Open Invite</h3>
							<p>Creating an open invite allows<br />
								any playlist connection to join</p>
						</div>
					</div>
				</div>
				<div class="discussion">
					<h1>Discussions for this playdate</h1>
					<form action="#" method="post">
						<fieldset>
							<input name="" type="text" class="write_input" onfocus="if(this.value=='Write something') this.value=''" onblur="if(this.value=='')this.value='Write something'" value="Write something" />
							<input name="" type="submit"  class="input_blue" value=""/>
						</fieldset>
					</form>
					<ul>
						<li>
							<div class="discuss_img"><img src="/static/images/img_parents.jpg" alt="" /><img src="/static/images/img_parents.jpg" alt="" /></div>
							<div class="discuss_text">
								<p><span>Mary Kate :</span>I cannot wait to go, yess! <span class="time">1 day ago</span></p>
							</div>
						</li>
						<li>
							<div class="discuss_img"><img src="/static/images/img_parents.jpg" alt="" /></div>
							<div class="discuss_text">
								<p><span>Janine M. :</span>Hope to see everyone there! <span class="time">about 30 mins ago</span></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="mainbtm">
			<div class="mbright"> </div>
		</div>
	</div>
</div>
<!--Footer Start-->
<div id="footer">
	<div class="footer">
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">User Agreement</a></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>
		<div class="copy">
			<p>We don't play around when it comes to screening and privacy.</p>
			<p><a href="#">Trademarks</a> belong to their respective owners. ©2011 Playdation, Inc.</p>
		</div>
	</div>
</div>
<!--Footer End-->
<div id="overlay">
	<div class="lightbox_wrapper detail"> <a href="#" class="close_button"><img src="/static/images/img_close.png" alt="" width="34" height="35" /></a>
		<h1>Contact Details for your Playdate</h1>
		<ul>
			<li>Christina Plankoff <strong>(Karen's Mother)</strong><span>917-776-0991</span></li>
			<li>Dennis Anderson <strong>(Sydney's Husband)</strong><span>917-776-0991</span></li>
			<li>Maria Smith <strong>(Kelly's Mother)</strong><span>917-776-0991</span></li>
			<li class="last">Christina Plankoff <span>917-776-0991</span></li>
		</ul>
		<p><a href="#"><img src="/static/images/img_close_button.png" alt="" width="100" height="42" /></a></p>
	</div>
</div>
</body>
</html>
