CREATE DATABASE `playdation` /*!40100 DEFAULT CHARACTER SET utf8 */;
CREATE USER 'playdation'@'localhost' IDENTIFIED BY 'playdate123';
GRANT ALL PRIVILEGES ON *.* TO 'playdation'@'localhost'  WITH GRANT OPTION;
